.contact-page-container {
  height: 60vh;
  display: flex;
}
.contact-page-container-left {
  margin-top: 10px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-page-container-right {
  width: 65%;
  margin-top: 10px;
}
.contact-page-text-header {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Old Standard TT", serif;
}

.contact-form__ {
  width: 100%;
  height: 400px;
}

.contact-form__ button {
  display: block;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #910000;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  margin-top: 12px;
  margin: auto;
}
.contact-form__ button:hover {
  background: inherit;
  color: #910000;
  border-bottom: 2px solid #910000;
}

.contact-us-zones-icon {
  margin-right: 10px;
}

.contact-page-container-right form {
  height: 100%;
}

.form-page textarea {
  line-height: 30px;
}

@media (max-width: 600px) {
  .contact-page-container {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-page-container-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .contact-page-container-right {
    width: 100%;
  }
}
