.container_ {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	
}

.menu-button {
	transition: fill 500ms;
}

.outer-circle {
	transform-origin: 60px 60px;
	transition: transform 2s cubic-bezier(0.62, 0.005, 0, 1.005);
	
}

.button_ {
	max-width: 12rem;
	background: none;
	border: 0 none;
	font-size: 0;
	cursor: pointer;

	svg {
		width: 100%;
		height: auto;
	}

	&:hover {
		.menu-button {
			fill: red;
		}

		.outer-circle {
			transform: rotate(360deg);
		}
	}
}